In [ ]:
import pandas as pd
#Reading the csv file
df = pd.read_csv('Mine.csv')
#Reading empty cells
print(df.isnull().sum())

Duration    0
Date        2
Pulse       1
Maxpulse    2
Calories    4
dtype: int64

In [ ]:
#Filling the empty cells with the mean of the column
for col in ['Pulse', 'Maxpulse', 'Calories' ]:
	df[col].fillna(df[col].mean(), inplace=True)
print(df.to_string())

    Duration         Date       Pulse    Maxpulse    Calories
0         60  2023/10/01'  110.000000  130.000000  409.100000
1         60  2023/10/02'  117.000000  145.000000  479.000000
2         60  2023/10/03'  103.000000  135.000000  340.300000
3         45  2023/10/04'  109.000000  175.000000  282.400000
4         45  2023/10/05'  117.000000  150.000000  405.100000
5         60  2023/10/06'  103.000000  125.000000  300.000000
6         60  2023/10/07'  110.000000  135.000000  374.000000
7        400  2023/10/08'  114.000000  133.000000  302.859259
8         60  2023/10/09'  112.000000  126.000000  193.800000
9         30  2023/10/10'  102.000000  147.000000  234.800000
10        60  2023/10/11'  100.000000  129.000000  375.300000
11        60  2023/10/12'  109.000000  131.000000  345.600000
12        60  2023/10/13'  103.000000  136.000000  239.200000
13        60  2023/10/15'  120.000000  123.241379  240.800000
14        60  2023/10/15'  120.000000  100.000000  240.800000
15        60  2023/10/16'  118.833333  101.000000  243.800000
16        60  2023/10/17'  127.000000  102.000000  380.200000
17        45     20231018  142.000000  103.000000  241.400000
18        60  2023/10/19'  151.000000  104.000000  302.859259
19        60  2023/10/20'  162.000000  105.000000  300.900000
20        60  2023/10/21'  100.000000  106.000000  280.000000
21        60  2023/10/22'  103.000000  107.000000  302.859259
22        60          NaN  130.000000  108.000000  230.800000
23        60  2023/10/24'  134.000000  123.241379  239.700000
24        60  2023/10/25'  132.000000  110.000000  236.900000
25        60  2023/10/26'  135.000000  118.000000  278.800000
26        60  2023/10/27'  137.000000  119.000000  212.900000
27        60  2023/10/28'  138.000000  121.000000  345.900000
28        60  2023/10/29'  139.000000  122.000000  345.200000
29        60          NaN   92.000000  125.000000  380.500000
30        60  2023/10/31'   94.000000  126.000000  302.859259

C:\Users\HILDAH\AppData\Local\Temp\ipykernel_2816\1334868888.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mean(), inplace=True)

In [6]:
from datetime import datetime

df['Date'] = pd.to_datetime(df['Date'], format='mixed')
print(df.to_string())

    Duration       Date       Pulse    Maxpulse    Calories
0         60 2023-10-01  110.000000  130.000000  409.100000
1         60 2023-10-02  117.000000  145.000000  479.000000
2         60 2023-10-03  103.000000  135.000000  340.300000
3         45 2023-10-04  109.000000  175.000000  282.400000
4         45 2023-10-05  117.000000  150.000000  405.100000
5         60 2023-10-06  103.000000  125.000000  300.000000
6         60 2023-10-07  110.000000  135.000000  374.000000
7        400 2023-10-08  114.000000  133.000000  302.859259
8         60 2023-10-09  112.000000  126.000000  193.800000
9         30 2023-10-10  102.000000  147.000000  234.800000
10        60 2023-10-11  100.000000  129.000000  375.300000
11        60 2023-10-12  109.000000  131.000000  345.600000
12        60 2023-10-13  103.000000  136.000000  239.200000
13        60 2023-10-15  120.000000  123.241379  240.800000
14        60 2023-10-15  120.000000  100.000000  240.800000
15        60 2023-10-16  118.833333  101.000000  243.800000
16        60 2023-10-17  127.000000  102.000000  380.200000
17        45 2023-10-18  142.000000  103.000000  241.400000
18        60 2023-10-19  151.000000  104.000000  302.859259
19        60 2023-10-20  162.000000  105.000000  300.900000
20        60 2023-10-21  100.000000  106.000000  280.000000
21        60 2023-10-22  103.000000  107.000000  302.859259
22        60        NaT  130.000000  108.000000  230.800000
23        60 2023-10-24  134.000000  123.241379  239.700000
24        60 2023-10-25  132.000000  110.000000  236.900000
25        60 2023-10-26  135.000000  118.000000  278.800000
26        60 2023-10-27  137.000000  119.000000  212.900000
27        60 2023-10-28  138.000000  121.000000  345.900000
28        60 2023-10-29  139.000000  122.000000  345.200000
29        60        NaT   92.000000  125.000000  380.500000
30        60 2023-10-31   94.000000  126.000000  302.859259

In [7]:
#Duplicate rows
df.drop_duplicates(inplace=True)
print(df.to_string())

    Duration       Date       Pulse    Maxpulse    Calories
0         60 2023-10-01  110.000000  130.000000  409.100000
1         60 2023-10-02  117.000000  145.000000  479.000000
2         60 2023-10-03  103.000000  135.000000  340.300000
3         45 2023-10-04  109.000000  175.000000  282.400000
4         45 2023-10-05  117.000000  150.000000  405.100000
5         60 2023-10-06  103.000000  125.000000  300.000000
6         60 2023-10-07  110.000000  135.000000  374.000000
7        400 2023-10-08  114.000000  133.000000  302.859259
8         60 2023-10-09  112.000000  126.000000  193.800000
9         30 2023-10-10  102.000000  147.000000  234.800000
10        60 2023-10-11  100.000000  129.000000  375.300000
11        60 2023-10-12  109.000000  131.000000  345.600000
12        60 2023-10-13  103.000000  136.000000  239.200000
13        60 2023-10-15  120.000000  123.241379  240.800000
14        60 2023-10-15  120.000000  100.000000  240.800000
15        60 2023-10-16  118.833333  101.000000  243.800000
16        60 2023-10-17  127.000000  102.000000  380.200000
17        45 2023-10-18  142.000000  103.000000  241.400000
18        60 2023-10-19  151.000000  104.000000  302.859259
19        60 2023-10-20  162.000000  105.000000  300.900000
20        60 2023-10-21  100.000000  106.000000  280.000000
21        60 2023-10-22  103.000000  107.000000  302.859259
22        60        NaT  130.000000  108.000000  230.800000
23        60 2023-10-24  134.000000  123.241379  239.700000
24        60 2023-10-25  132.000000  110.000000  236.900000
25        60 2023-10-26  135.000000  118.000000  278.800000
26        60 2023-10-27  137.000000  119.000000  212.900000
27        60 2023-10-28  138.000000  121.000000  345.900000
28        60 2023-10-29  139.000000  122.000000  345.200000
29        60        NaT   92.000000  125.000000  380.500000
30        60 2023-10-31   94.000000  126.000000  302.859259

In [8]:
#Wrong data 
for x in df.index:
    if df.loc[x, "Duration"] > 60:
        df.loc[x, "Duration"] = 60
print(df.to_string())

    Duration       Date       Pulse    Maxpulse    Calories
0         60 2023-10-01  110.000000  130.000000  409.100000
1         60 2023-10-02  117.000000  145.000000  479.000000
2         60 2023-10-03  103.000000  135.000000  340.300000
3         45 2023-10-04  109.000000  175.000000  282.400000
4         45 2023-10-05  117.000000  150.000000  405.100000
5         60 2023-10-06  103.000000  125.000000  300.000000
6         60 2023-10-07  110.000000  135.000000  374.000000
7         60 2023-10-08  114.000000  133.000000  302.859259
8         60 2023-10-09  112.000000  126.000000  193.800000
9         30 2023-10-10  102.000000  147.000000  234.800000
10        60 2023-10-11  100.000000  129.000000  375.300000
11        60 2023-10-12  109.000000  131.000000  345.600000
12        60 2023-10-13  103.000000  136.000000  239.200000
13        60 2023-10-15  120.000000  123.241379  240.800000
14        60 2023-10-15  120.000000  100.000000  240.800000
15        60 2023-10-16  118.833333  101.000000  243.800000
16        60 2023-10-17  127.000000  102.000000  380.200000
17        45 2023-10-18  142.000000  103.000000  241.400000
18        60 2023-10-19  151.000000  104.000000  302.859259
19        60 2023-10-20  162.000000  105.000000  300.900000
20        60 2023-10-21  100.000000  106.000000  280.000000
21        60 2023-10-22  103.000000  107.000000  302.859259
22        60        NaT  130.000000  108.000000  230.800000
23        60 2023-10-24  134.000000  123.241379  239.700000
24        60 2023-10-25  132.000000  110.000000  236.900000
25        60 2023-10-26  135.000000  118.000000  278.800000
26        60 2023-10-27  137.000000  119.000000  212.900000
27        60 2023-10-28  138.000000  121.000000  345.900000
28        60 2023-10-29  139.000000  122.000000  345.200000
29        60        NaT   92.000000  125.000000  380.500000
30        60 2023-10-31   94.000000  126.000000  302.859259